.ledger-entry {
  position: relative;
  border: 3px solid black;
}

.dropdown-wrapper {
  border: 3px solid purple;
}

.text-area {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.button {
  background-color: blue;
  color: #ffffff;
  padding: 11px 1.5rem;
  border: none;
  cursor: pointer;
}

.button:disabled {
  border: 1px solid rgb(124, 95, 95);
  background-color: rgb(228, 228, 228);
  color: rgb(160, 160, 160);
}

.quantity {
  width: 150px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}
